{{> header }}

    <section id="blogContent" class="container">
      <article>
        <header>
          <h1>JavaScript intro del2 - IT2805</h1>
          <span class="article-meta">Søndag 15. november 2015</span>
        </header>

        <p>Kanskje foreleser er yrket? PhD neste? Tenker også bussjåfør, eller brøytebilsjåfør...</p>
        <p>Uansett, som en del av studasseringen min i <a href="http://ntnu.no/studier/emner/IT2805">IT2805</a> ved <a href="http://ntnu.no/">NTNU</a> holdte jeg på mandag, 13. oktober, en introduksjonsforelesning om JavaScript. Slidene finnes på <a href="http://tmn.github.io/it2805-javascript-del2">tmn.github.io/it2805-javascript-del2</a>.</p>
      </article>

      <article>
        <header>
          <h1>Mitt terminaloppsett</h1>
          <span class="article-meta">Søndag 15. november 2015</span>
        </header>

        <p>TL;DR <a href="https://github.com/sorin-ionescu/prezto">Prezto</a> med <a href="https://github.com/paradox460/prezto/blob/paradox/modules/prompt/functions/prompt_paradox_setup">Paradox</a> og <a href="http://color.smyck.org/">SMYCK</a>.</p>
        <p><img src="/img/term.png" alt="Terminal preview"></p>
        <p>Så, etter å ha plagdes med rare slowdowns i oh-my-zsh ble jeg introdusert til Prezto - vistnok en optimalisert fork av OMZ som nå er blitt et eget prosjekt. Den føles mye raskere ut enn oh-my-zsh, og er i grunn bare awesome.</p>
        <h2 id="oppsettet-mitt-">OPPSETTET MITT:</h2>
        <ul>
          <li>Zsh - kan lett installeres gjennom <a href="http://brew.sh/">Homebrew</a>: <code>brew install zsh</code></li>
          <li><a href="https://github.com/sorin-ionescu/prezto">Prezto</a></li>
          <li>Terminal theme: <a href="http://color.smyck.org/">SMYCK</a></li>
          <li>Font: <a href="https://gist.github.com/qrush/1595572">Menlo Regular for Powerline</a> 10 pt</li>
        </ul>
      </article>

      <article>
        <header>
          <h1>It's up!</h1>
          <span class="article-meta">Søndag 15. november 2015</span>
        </header>

        <p>Etter langt om lenge, og lengre enn langt. På leting etter...</p>
        <p>Vel, ja. Det var det da. Hvem vet hva det er jeg leter etter. Trolig ikke noe særlig spennende. Men DU derimot. Du er her! På leting. Si meg; hva er det du leter etter?</p>
      </article>

    </section>
  </body>
</html>
