@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic);

body {
  font-size: 16px;
  font-family: Georgia, serif;
  line-height: 28px;
  color: rgba(0, 0, 0, .72);
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #3091C1;
}

  a:hover {
    color: #376682;
  }

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
  color: #222;
}

h2 {
  font-size: 22px;
  color: #222;
  padding-top: 20px;
}

h3 {
  color: #888;
  text-transform: uppercase;
  font-weight: 500;
}

h4 {
  font-weight: bold;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
  line-height: 20px;
}

code.hljs {
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 25px;
  background: #fbfbfb;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px;
}




article {
  position: relative;
  background-color: #fff;
  padding: 45px 35px;
  margin-bottom: 45px;
  box-sizing: border-box;
}

  article header {
    margin-bottom: 45px;
  }

    article header h1 {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }

    article header h1:hover {
      color: #376682;
    }

  article img {
    max-width: 740px;
    margin: 0 -35px;
  }

  article ul {
    list-style: disc;
    margin-left: 20px;
  }

  .article-meta {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    display: block;
  }

.gold {
  color: #D8C24B;
}

.wrap0 {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
}

#blogContent {
  max-width: 740px;
  width: 100%;
  float: left;
}

#sidebar {
  width: 280px;
  background: #fff;
  float: right;
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}

  #sidebar h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  #sidebar header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }

  #sidebar p {
    font-size: 14px;
  }

  .post-list {
    margin-top: 10px;
    list-style: disc;
    padding-bottom: 10px;
  }

  .post-list ul {
    margin-left: 20px;
    list-style: disc;
  }

  .sidebar-content {
    padding: 15px 25px;
    position: relative;
  }

  .sidebar-profile-picture {
    max-width: 280px;
  }

#article-header {
  background-color: #f8f8f8;
  height: 55px;
  line-height: 55px;
}

#comment-section {
  margin-top: 85px;
}

.profileLocation-list li {
  display: inline-block;
  margin: 2px 10px;
  width: 45px;
  height: 45px;
  position: relative;
}

  .profileLocation-list .fa-custom {
    font-size: 40px;
  }

  .profileLocation-list a {
    color: #D8C24B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    .profileLocation-list a:hover {
      color: #666;
    }


@media (max-width: 1070px) {
  #blogContent {
    float: none;
  }

  #sidebar {
    float: none;
  }

  .wrap0 {
    max-width: 740px;
  }
}

@media (max-width: 790px) {
  article {
    padding: 35px 25px;
  }

  article img {
    width: 100%;
    margin: 0;
  }
}
