@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic);

body {
  font-size: 16px;
  font-family: Georgia, serif;
  line-height: 28px;
  color: rgba(0, 0, 0, .72);
}

a {
  text-decoration: none;
  color: #3091C1;
}

  a:hover {
    color: #376682;
  }

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
  color: #222;
}

h2 {
  font-size: 22px;
  color: #222;
  padding-top: 20px;
}

h3 {
  color: #888;
  text-transform: uppercase;
  font-weight: 500;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
  line-height: 22px;
}

code.hljs {
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 25px;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

article {
  margin-bottom: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #efefef;
}

  article header {
    margin-bottom: 15px;
  }

    article header h1:hover {
      color: #376682;
    }

  article img {
    max-width: 720px;
    width: 100%;
  }

  article ul {
    list-style: disc;
    margin-left: 20px;
  }

  .article-meta {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
  }

#article-header {
  margin-bottom: 75px;
  background-color: #f8f8f8;
  height: 55px;
  line-height: 55px;
}

#comment-section {
  margin-top: 85px;
}

#mainHeader {
  position: relative;
  width: 100%;
  height: 365px;
  background-color: #f8f8f8;
}

  .mainHeader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }

    .profilePicture {
      border-radius: 50%;
      margin-bottom: 10px;
      width: 120px;
    }

    .profileLocation-list li {
      display: inline-block;
    }

      .profileLocation-list a {
        padding: 2px 10px;
      }

    .mainHeader-title {
      margin-bottom: 15px;
    }

#blogContent {
  margin-top: 45px;
}

.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px;
}
