@import url('reset.css');
@import url('atom-one-dark.css');

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #555;
  line-height: 1.625;
  background-color: #fff;
}

a {
  color: #ec2016;
  text-decoration: none;
}

a:hover {
  color: #376682;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
  line-height: 20px;
}

code.hljs {
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 25px;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


/* Headings
------------------------------------------------------------------------------*/
h1, h2, h3, h4 {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 5px;
}

h3 {
  color: #888;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  font-weight: 500;
}


/* Utilities
------------------------------------------------------------------------------*/
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;

  padding-left: 25px;
  padding-right: 25px;
}


/* ...
------------------------------------------------------------------------------*/
section {

}

article {
  position: relative;
  background-color: #fff;

  border-bottom: 1px solid #eaeaea;
  padding-bottom: 55px;
  margin-bottom: 65px;
}

artcile header {
  margin-bottom: 10px;
}

article header h1 {
  line-height: 1.4;
  margin-bottom: 15px;
}

article header h1 a {
  color: #222;
}

article img {
  max-width: 950px;
  width: 100%;
  margin-left: -25px;
}

article ul {
  list-style: disc;
  margin-left: 20px;
}

.article-meta {
  color: #f55555;
  display: block;
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 2px;
}

#main-header {
  background: #fafafa;
  margin-bottom: 65px;
}

.main-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 80px;
}

.main-header-content h1 {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-header-content nav {
  font-size: 14px;
  text-align: right;
}
.main-header-content nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.main-header-content nav ul li:last-child {
  margin-right: 0;
}
